.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--accent-color);

    font-size: 24px;
    line-height: 1.17;

    @include mq(desk) {
        font-size: 26px;
        line-height: 1.2;
    }
}

.logo__item--dark {
    color: #000000;
}

.logo__item--white {
    color: var(--primary-white-color);
}

.footer__logo {
    display: block;
    margin-bottom: 20px;
}