.hero {
    margin: 0 auto;

    text-align: center;
    background-color: #C4C4C4;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg_sm.jpg);
    @include mq(retina) {
        background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero/hero-bg_sm@2x.jpg);
    }
    
    @include mq(tab) {
        background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg_md.jpg);

        @include mq(retina) {
            background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg_md@2x.jpg);
        }
    }
    
    @include mq(desk) {
        background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg_lg.jpg);
    
        @include mq(retina) {
            background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg_lg@2x.jpg);
        }
    }

    @include mq(mob) {
        padding: 118px 0;
        max-width: 480px;
    }

    @include mq(tab) {
        max-width: 768px;
    }

    @include mq(desk) {
        padding: 200px 0;
        max-width: 1600px;
    }
}

.hero__title {
    margin: 0 auto 30px;

    font-weight: 900;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-white-color);

    @include mq(mob) {
        max-width: 360px;
        font-size: 26px;
        line-height: 1.62;
    }

    @include mq(desk) {
        max-width: 696px;

        font-size: 44px;
        line-height: 1.36;       
    }
}